<div class="container">
<div class="panel">
  <h1>Update Medical History</h1>
</div>


<%= form_for [@user, @person, @medical_history] do |f| %>

    <%= f.label "Arthritis" %>
    <p><%= f.check_box :arthritis %></p>
    <%= f.label "Birth Defects" %>
    <p><%= f.check_box :birth_defects %></p>
    <%= f.label "Depression" %>
    <p><%= f.check_box :depression %></p>
    <%= f.label "Diabetes" %>
    <p><%= f.check_box :diabetes %></p>
    <%= f.label "Cancer" %>
    <p><%= f.check_box :cancer %></p>
    <%= f.label "Cancer Type, if any" %>
    <p><%= f.text_field :cancer_type %></p>
    <%= f.label "Hearing Loss" %>
    <p><%= f.check_box :hearing_loss %></p>
    <%= f.label "Heart Disease" %>
    <p><%= f.check_box :heart_disease %></p>
    <%= f.label "Vision Problems" %>
    <p><%= f.check_box :vision_problems %></p>
    <%= f.label "High Cholesterol" %>
    <p><%= f.check_box :high_cholesterol %></p>
    <%= f.label "High Blood Pressure" %>
    <p><%= f.check_box :high_blood_pressure %></p>
    <%= f.label "Infertility" %>
    <p><%= f.check_box :infertility %></p>
    <%= f.label "Mental Retardation" %>
    <p><%= f.check_box :mental_retardation %></p>
    <%= f.label "Obesity" %>
    <p><%= f.check_box :obesity %></p>
    <%= f.label "Osteoporosis" %>
    <p><%= f.check_box :osteoporosis %></p>
    <%= f.label "Stroke" %>
    <p><%= f.check_box :stroke %></p>
    <%= f.label "Vision Loss" %>
    <p><%= f.check_box :vision_loss %></p>
    <%= f.label "Allergies" %>
    <p><%= f.text_field :allergic_to %></p>
    <%= f.label "Past Medication" %>
    <p><%= f.check_box :past_meds %></p>
    <%= f.label "Current Medications" %>
    <p><%= f.text_field :current_meds %></p>


  <%= f.submit "Update" %>
<% end %>
</div>