<h1>Add Family Relationship</h1>

<%= form_for [@person, @person_id] do |f| %>

  <div>
    <%= f.label "Biological mother" %>
    <%= f.text_field :parent_role %>
    <%= f.label "Biological father" %>
    <%= f.text_field :parent_role %>

  </div>
  <%= f.submit "Add to family" %>
<% end %>

<!-- @user = @user.current_user.id
 -->
<!-- @user = child_id
@parent =
@parent_role = comes from form drop down-- father or mother
 -->