<h1>Add Family Relationship for <%= @person.full_name %> </h1>

<%= form_for [@user, @person, @family] do |f| %>
<%= radio_button_tag(:role, "parent_id") %>
<%= label_tag(:role_parent, "Add a parent or") %>
<%= radio_button_tag(:role, "child_id") %>
<%= label_tag(:role_child, "Add a child") %>
<%= f.submit "Create relationship" %>
<% end %>


<%= form_for [@user, @person, @family] do |f| %>
<%= radio_button_tag(:parent_role, "parent_role") %>
<%= label_tag(:role_parent, "Father or") %>
<%= radio_button_tag(:parent_role, "parent_role") %>
<%= label_tag(:parent_role, "Mother") %>
<%= f.submit "Add parent role" %>
<% end %>

<%= form_for [@user, @person] do |f| %>
<%= f.label :person %>
<%= collection_select(:person, :id, @people, :id, :full_name) %>
<% end %>





