<div class="container">
  <div class="panel">
    <h1>Add Family Relationship for <%= @person.full_name %> </h1>
  <div>
<p>Are you adding <%= @person.first_name %>'s</p>
<%= form_for [@user, @person, @family] do |f| %>
<%= radio_button_tag(:parent_role, "father") %>
<%= label_tag(:role_of_parent, "Father") %>
<%= radio_button_tag(:parent_role, "mother") %>
<%= label_tag(:role_of_parent, "Mother") %>

<%# = f.label :person, "Who is it?" %>
<%= collection_select(:parent_person, :parent_id, @people, :id, :full_name) %>
<%= f.submit "Create relationship" %>

<% end %>
</div>

