<h1>Your Family</h1>

<p><%= @user.email %></p>
<!-- <p>@user.mother</p>
<p>@user.father</p> -->

Current Person
<h3> <%= current_user.this_person.last_name %></h3>

People
<% @people.each do |person| %>
<ul>
  <li>First Name: <%= person.first_name %></li>
  <li>Last Name: <%= person.last_name %></li>

  <% if person.medical_history %>
    <div class="panel">
      <% person.medical_history.attributes.each do |k, v| %>
        <% if k != "id" && k != "person_id" %>
          <% if v != false %>
            <% if v.present? && k == "created_at" || k == "updated_at" %>
              <li><%= k %> : <%= v %></li>
            <% elsif %>
              <li><%= k %></li>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <li><%= link_to 'Add Medical History', new_user_person_medical_history_path(@user, person) %></li>
  <li><%= link_to 'Show medical history', user_person_path(@user.id, person.id) %></li>
</ul>
<% end  %>

<ul>
  <li><%= link_to 'Add family members', new_user_person_path(current_user.id) %></li>
</ul>